#depoiments {
    width: 100%;
    height: 590px;
}

.depoiments-bg {
    width: 1040px;
    height: 367px;

    border-radius: 30px;
}

.depoiments-container {
    width: 1165px;
    height: 367;
    margin-top: 104px;

    position: absolute;
}

.depoiment-card {
    background-color: #fff;

    height: 297px;
    width: 261px;
    margin-right: 41px;

    border-radius: 20px;

    box-shadow: 0px 66px 27px rgba(0, 0, 0, 0.01),
        0px 37px 22px rgba(0, 0, 0, 0.05),
        0px 17px 17px rgba(0, 0, 0, 0.09),
        0px 4px 9px rgba(0, 0, 0, 0.1),
        0px 0px 0px rgba(0, 0, 0, 0.1);
}

.depoiment-card:last-of-type {
    margin-right: 0px;
}

.depoiment-card-content {
    height: 85%;
    width: 85%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.depoiment-card-content div p {
    height: 148px;
    overflow: hidden;

    font-weight: 400;
    color: var(--color-3)
}

.profile {
    height: 53px;
    justify-content: space-between;
}

.profile div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 50px;
}

.profile div h3 {
    font-weight: bold;
    font-size: 16px;
    color: var(--color-1);
}

.profile div h6 {
    font-weight: 275;
    font-size: 12px;
    color: var(--color-1);
}

.profile div img {
    width: 50px;
    height: 50px;

    border-radius: 50%;
}