.main {
    top: 75%;
    width: 100%;

    flex-wrap: wrap;
    position: absolute;

    z-index: auto;
}

.option {
    background-color: #fff;

    width: 200px;
    height: 200px;

    margin-right: 6%;

    border: 0.5px solid #bbb;
    border-radius: 40px;

    box-shadow: 0px 88px 35px rgba(0, 0, 0, 0.01), 0px 50px 30px rgba(0, 0, 0, 0.05), 0px 22px 22px rgba(0, 0, 0, 0.09), 0px 6px 12px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

}

.option:last-of-type {
    margin-right: 0px;
}

.option div {
    text-align: center;
    height: 50%;

}

.option div:first-of-type {
    justify-content: flex-end;
}

.option div:last-of-type {
    justify-content: flex-start;
}

.option div h3 {
    width: 108px;
    font-size: 16px;
    color: #000E42;
}

.option-icon {
    width: 55px;
    height: 55px;

    margin-bottom: 10px;
}

@media (max-width: 1000px) {
    .main {
        top: 65%;
    }
    .option {
        margin-right: 2%;
    }
    .option:last-of-type {
        margin-right: 0px;
    }
}

@media (max-width: 893px) {
    .option {
        margin: 2%;
    }
    .option:last-of-type {
        margin-right: 2%;
    }
}

@media (max-width: 600px) {
    .main {
        top: 80%;
        bottom: 0%;
        width: 100%;

        position: fixed;

        z-index: 2;
    }

    .option {
        width: 100px;
        height: 100px;

        /*margin-right: 2%;*/

        border-radius: 20px;
    }

    .option div {
        height: 100%;
    }

    .option:last-of-type {
        margin-right: 2%;
    }

    .text {
        display: none;
    }

    .option-icon {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 500px) {
    .option {
        margin: 1%;
    }
}