.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    background: #FFC800;
    color: #000E42;

    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;

    border-style: none;

    transition: all 0.3s ease-out
}

.button:hover {
    cursor: pointer;

    opacity: 70%;
    transition: all 0.3s ease-in
}

.button:active {
    background: #ad8802;
    transition: all 0.3s ease-in
}

.btn-1 {
    width: 144px;
    height: 46px;

    border-radius: 10px;
}