.footer {
    background-color: var(--color-1);

    width: 100%;
    height: 438px;

    margin-top: 92px;

    box-shadow: inset 0px -200px 250px -100px rgba(0, 0, 0, 0.5);
}

.footer-content {
    width: 80%;
    height: 80%;

    justify-content: space-between;
}

.footer-content h2 {
    width: 274px;
    padding-left: 14px
}

.footer-content div h3 {
    padding-left: 14px;
    margin-right: 17px;
}

.footer-font {
    font-style: normal;
    font-weight: 275;
    font-size: 16px;
    color: var(--color-0);
}

.footer-title {
    height: 15%;

    font-weight: 700;
    font-size: 20px;
    color: var(--color-0);
}

.footer-logo {
    width: 120px;
    height: 120px;
}

#foot001 {
    width: 452px;
    height: 398px;
}

#foot002 {
    width: 251px;
    height: 398px;
}

#foot003 {
    width: 330px;
    height: 398px;
}

#foot004 {
    width: 333px;
    height: 398px;
}

@media (max-width: 1170px) {
    #foot004 {
        display: none;
    }
}

@media (max-width: 870px) {

    .footer {
        flex-wrap: wrap;
        height: auto;
    }

    #foot003 {
        width: 100%;
    }

    #foot003 div {
        width: 87%;
    }
}

@media (max-width: 717px) {
    .footer-content {
        align-items: center;
    }

    .footer-content div {
        align-items: center;
    }

    .footer-content h2 {
        text-align: center;
        padding-left: 0px
    }

    .footer-content div h3 {
        padding-left: 0px;
    }

    #foot001, #foot002, #foot003 {
        width: 100%;
    }

    #foot002, #foot003 {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .footer {
        padding-bottom: 30%;
    }
}