.header {
    height: 88px;
    background-color: #000E42;
    box-shadow: inset 0px -100px 50px -50px rgba(0, 0, 0, 0.4);

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    border-image: linear-gradient(to right, var(--color-1), var(--color-2));
    border-image-slice: 1;
}

.nav-mobile {
    display: none;
    background-color: transparent;
    width: 60px;
    transition: all 0.3s ease-in;

    margin-right: 20px;
}

.nav-mobile img {
    width: 40px;
    height: 40px;
}

.nav-content {
    width: 300px;
}

.nav-logo {
    width: 64px;
    height: 64px;

    margin-right: 17px;
}

.nav-logo-name {
    width: 160px;
    height: 39.71px;

    margin-top: 3px;
}

.navbar ul {
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 59px;
}

.navbar a {
    display: inline-block;
    color: var(--color-0);
}

.navbar a:hover {
    text-shadow: 0px 2px 15px rgba(255, 255, 255, 0.5);
}

#nav-menu ul {
    margin-right: 59px;
}

@media (max-width: 920px) {
    #nav-menu {
        display: none;
    }

    #nav-mobile {
        display: flex;
    }

    #nav-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        width: 50%;
        top: 88px;
        right: 0px;
        background: var(--color-1);
        border-radius: 0px 0px 0px 15px;
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;

        -webkit-box-shadow: -5px 38px 97px 0px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: -5px 38px 97px 0px rgba(0, 0, 0, 0.7);
        box-shadow: -5px 38px 97px 0px rgba(0, 0, 0, 0.7);
    }

    #nav-menu ul {
        display: flex;
        flex-direction: column;
        margin-right: 18px;
    }

    #nav-menu ul li a {
        float: right;
    }

    #nav.active #nav-menu {
        height: 420px;
        visibility: visible;
        overflow-y: auto;
    }

    #nav-menu a {
        padding: 1rem 0;
        /*margin: 0 1rem;*/
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
}